# Python
__pycache__/
*.pyc

# Splunk
*.log
*.pid
*.csv

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Environment Files
.env

# Temporary Files
*.tmp

# Virtual Environments
venv/
.venv/